<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.video.dao.ITUserMapper" >
  <sql id="Base_Column_List" >
    user_id, phone, open_id, nick_name, user_type, menchant_id, gende, province, city, 
    country
  </sql>
  
	<!--批量添加-->
  <insert id="insertBatch" parameterType="java.util.List" >
    insert into t_user (user_id, 
      phone, open_id, nick_name, user_type, menchant_id, 
      gende, province, city, country)
    values
		<foreach collection="list" item="item" separator=",">
			(
			#{item.userId}, 
      #{item.phone}, #{item.openId}, #{item.nickName}, #{item.userType}, #{item.menchantId}, 
      #{item.gende}, #{item.province}, #{item.city}, #{item.country})
		</foreach>
  </insert>
  
	<!--根据主键Id删除-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  
	<!--根据主键Id查询-->
  <select id="selectByPrimaryKey" resultType="com.video.model.TUser" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  
	<!--根据主键Id修改-->
  <update id="updateByPrimaryKeySelective" parameterType="com.video.model.TUser" >
    update t_user
    <set >
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="openId != null" >
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        user_type = #{userType,jdbcType=INTEGER},
      </if>
      <if test="menchantId != null" >
        menchant_id = #{menchantId,jdbcType=VARCHAR},
      </if>
      <if test="gende != null" >
        gende = #{gende,jdbcType=INTEGER},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        country = #{country,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  
	<!--条件查询，返回集合-->
  <select id="selectListByWhere" resultType="com.video.model.TUser" parameterType="com.video.model.TUser" >
    select 
    <include refid="Base_Column_List" />
    from t_user
    <where >
      <if test="phone != null" >
        and phone = #{phone,jdbcType=VARCHAR}
      </if>
      <if test="openId != null" >
        and open_id = #{openId,jdbcType=VARCHAR}
      </if>
      <if test="nickName != null" >
        and nick_name = #{nickName,jdbcType=VARCHAR}
      </if>
      <if test="userType != null" >
        and user_type = #{userType,jdbcType=INTEGER}
      </if>
      <if test="menchantId != null" >
        and menchant_id = #{menchantId,jdbcType=VARCHAR}
      </if>
      <if test="gende != null" >
        and gende = #{gende,jdbcType=INTEGER}
      </if>
      <if test="province != null" >
        and province = #{province,jdbcType=VARCHAR}
      </if>
      <if test="city != null" >
        and city = #{city,jdbcType=VARCHAR}
      </if>
      <if test="country != null" >
        and country = #{country,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  
	<!--条件查询-->
  <select id="selectByWhere" resultType="com.video.model.TUser" parameterType="com.video.model.TUser" >
    select 
    <include refid="Base_Column_List" />
    from t_user
    <where >
      <if test="phone != null" >
        and phone = #{phone,jdbcType=VARCHAR}
      </if>
      <if test="openId != null" >
        and open_id = #{openId,jdbcType=VARCHAR}
      </if>
      <if test="nickName != null" >
        and nick_name = #{nickName,jdbcType=VARCHAR}
      </if>
      <if test="userType != null" >
        and user_type = #{userType,jdbcType=INTEGER}
      </if>
      <if test="menchantId != null" >
        and menchant_id = #{menchantId,jdbcType=VARCHAR}
      </if>
      <if test="gende != null" >
        and gende = #{gende,jdbcType=INTEGER}
      </if>
      <if test="province != null" >
        and province = #{province,jdbcType=VARCHAR}
      </if>
      <if test="city != null" >
        and city = #{city,jdbcType=VARCHAR}
      </if>
      <if test="country != null" >
        and country = #{country,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
</mapper>